{% extends "donor_register/base.html" %} {% load crispy_forms_tags %} {% block content %}


<form action="" method="post" autocomplete="off" enctype="multipart/form-data">
    {% csrf_token %} {{form.fullname|as_crispy_field}} {{form.mobile|as_crispy_field}}
    <div class="row">
        <div class="col-md-4">
            {{form.bloodgroup|as_crispy_field}}
        </div>
        <div class="col-md-8">
            {{form.medicalproblem|as_crispy_field}}
        </div>
        <div class="col-md-8">
            {{form.address|as_crispy_field}}
        </div>

        <div class="btn-group btn-toggle gender">
            <input type="button" name="gender" class="btn btn-default" value="Male">
            <input type="button" name="gender" class="btn btn-primary active" value="Female">
        </div>

    </div>
    <div class="row">
        <div class="col-md-8">
            <button type="submit" class="btn btn-success btn-block btn-lg"><i class="fas fa-database"></i>
                Submit</button>
        </div>
        <div class="col-md-4">
            <a href="{% url 'donor_list' %}" class="btn btn-secondary btn-block btn-lg">
                <i class="fas fa-stream"></i> Back to list
            </a>
        </div>
    </div>
    <script class="jsbin" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <div class="file-upload">
        <button class="file-upload-btn" type="button" onclick="$('.file-upload-input').trigger( 'click' )">Add Image</button>



        <div class="image-upload-wrap">
            <input class="file-upload-input" type='file' onchange="readURL(this);" accept="image/*" />

        </div>
        <div class="file-upload-content">
            <img class="file-upload-image" src="#" alt="your image" style="height:300px;object-fit:contain" />
            <div class="image-title-wrap">
                <button type="button" onclick="removeUpload()" class="remove-image">Remove <span class="image-title">Uploaded Image</span></button>
            </div>
        </div>

</form>
<script>
    function readURL(input) {
        if (input.files && input.files[0]) {

            var reader = new FileReader();

            reader.onload = function(e) {
                $('.image-upload-wrap').hide();

                $('.file-upload-image').attr('src', e.target.result);
                $('.file-upload-content').show();

                $('.image-title').html(input.files[0].name);
            };

            reader.readAsDataURL(input.files[0]);

        } else {
            removeUpload();
        }
    }

    function removeUpload() {
        $('.file-upload-input').replaceWith($('.file-upload-input').clone());
        $('.file-upload-content').hide();
        $('.image-upload-wrap').show();
    }
    $('.image-upload-wrap').bind('dragover', function() {
        $('.image-upload-wrap').addClass('image-dropping');
    });
    $('.image-upload-wrap').bind('dragleave', function() {
        $('.image-upload-wrap').removeClass('image-dropping');
    });
</script>



</div>

{% endblock content %}